@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@0;1&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

h1 {
    text-align: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
}

.button {
    padding: 10px;
    text-align: center;
}

.answer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary > h2 {
    text-align: center;
}

span {
    color: rgb(223, 15, 15);
}

.dl-item {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dl-item > dt {
    font-size: 20px;
}

.dl-item > dd {
    font-size: 13px;
    text-align: start;
    max-width: 60%;
}

img {
    width: 100px;
}

.forms {
    margin-top: 40px;
    text-align: center;
}

.forms > ul {
    list-style-type: none;
}